# =========================
# Backend (Python)
# =========================
backend/venv/
backend/.venv/
__pycache__/
*.py[cod]

# =========================
# Frontend (Next.js)
# =========================
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
frontend/coverage/
frontend/.next/
frontend/out/
frontend/build/

# =========================
# Environment variables
# =========================
.env
.env.local
backend/.env
frontend/.env.local

# =========================
# Misc, Debug & Editors
# =========================
.DS_Store
.vscode/
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*protocol-working-tree-*.zip
